#studentsGrid_css {
    height: 150px
}

#teachersGrid_css {
    height: 150px
}

#coursesGrid_css {
    height: 150px
}

#collegeGrid_css {
    height: 150px
}

#openCourseGrid_css {
    height: 150px
}

#courseSelectionGrid_css {
    height: 150px
}
