doctype html
html(lang='en' ng-app='rootManagementApp')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE-edge')
        meta(name='viewport' content='width=device-width initial-scale=1')
        title Welcome to Root Manager!

        script(type='text/javascript' src='jquery/dist/jquery.js')
        script(type='text/javascript' src='angular/angular.js')
        script(type='text/javascript' src='angular-bootstrap/ui-bootstrap-tpls.js')
        script(type='text/javascript' src='ng-grid/ng-grid-2.0.11.min.js')

        script(type='text/javascript' src='js/angular_customFilter.js')
        script(type='text/javascript' src='js/rootManagement.js')

        link(rel='stylesheet' type='text/css' href='bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' type='text/css' href='ng-grid/ng-grid.css')
        
        link(rel='stylesheet' type='text/css' href='css/rootManagement.css')
body
    div(class='navbar navbar-inverse')
        div(class='container')
            div(class='navbar-header')
                button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse')
                    span(class='sr-only') Toggle navigation
                    span(class='icon-bar')
                    span(class='icon-bar')
                    span(class='icon-bar')
                a(class='navbar-brand' href='/') System Index Page
            div(class='navbar-collapse collapse')
                ul(class='nav navbar-nav')
                    li(class='active')
                        a(href='/home') Home
                    li
                        a(href='/logout') Logout
    div(class='container')
        div(id='accordionRootManageCtrl_Id' ng-controller='accordionRootManageCtrl')
            div(class='row')
                button(type='button' ng-click='refreshData($event)' ng-init='refreshData($event)' class='btn btn-primary col-sm-offset-11 col-sm-1') Refresh
            hr
            accordion(close-others='true')
                accordion-group(heading='Users List')
                    h3 Students List
                    div(class='row-fluid')
                        div(class='span12')
                            div(id='studentsGrid_css' ng-grid='studentsGridOptions')
                    include rootManagement_UsersForm
                accordion-group(heading='Teachers List')
                    h3 Teachers List
                    div(class='row-fluid')
                        div(class='span12')
                            div(id='teachersGrid_css' ng-grid='teachersGridOptions')
                    include rootManagement_TeachersForm
                accordion-group(heading='Courses List')
                    h3 Courses List
                    div(class='row-fluid')
                        div(class='span12')
                            div(id='coursesGrid_css' ng-grid='coursesGridOptions')
                    include rootManagement_CoursesForm
                accordion-group(heading='Colleges List')
                    h3 Colleges List
                    div(class='row-fluid')
                        div(class='span12')
                            div(id='collegeGrid_css' ng-grid='collegeGridOptions')
                    include rootManagement_CollegesForm
                accordion-group(heading='OpenCourses List')
                    h3 OpenCourses List
                    div(class='row-fluid')
                        div(class='span12')
                            div(id='openCourseGrid_css' ng-grid='openCourseGridOptions')
                    include rootManagement_OpenCoursesForm
                accordion-group(heading='CourseSelection List')
                    h3 CourseSelection List
                    div(class='row-fluid')
                        div(class='span12')
                            div(id='courseSelectionGrid_css' ng-grid='courseSelectionGridOptions')
                    include rootManagement_CourseSelectionForm
    