doctype html
html(lang="en")
    head
        title Sharp Jquery Example 1-1
        script(src='js/jquery.min.1.8.2.js')
        script(type='text/javascript').
                $(document).ready(function() {
                    alert("Hello World!");
                });