body {
  height: 100%;
  background-color: #D1D1D1;
  margin: 1%;
}

div#Popup-Window {
  float: left;
  background-color: #FFFFFF;
  text-align: center;
  position: absolute;
  width: 30%;
  height: 30%;
  top: 35%;
  left: 35%;
  border: 10px double #112435;
  padding: 1%;
}

div#Shadow {
  display: block;
  float: left;
  background-color: #000000;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

div#logo-bar {
  width: 100%;
}

div#container {
  width: 80%;
  height: 100%;
  margin: 0px auto;
  background-color: #112435;
}

div#NAVMenu {
  width: 100%;
  background-color: green;
}

div#News {
  float: left;
  position: relative;
  width: 18%;
  height: 200px;
  background-color: #FFFFFF;
  overflow: hidden;
}

div#News ul {
  list-style-type: none;
  text-align: center;
  top: 0px; left: 0px;
  padding: 0px;
}

div#ImageMap {
  float: left;
  width: 60%;
  padding: 0px;
}

div#ImageMap #BottleImg {
  width: 100%;
  height: 100%;
}

div#Media {
  float: left;
  width: 18%;
}

div#Media #dewplayer {
  display: block;
  width: 150px;
  height: 20px;
  margin: auto;
}

div#NewsList {
  float: left;
  width: 18%;
  background-color: blue;
}

div#ContentDisplay {
  float: left;
  width: 60%;
  background-color: pink;
}

div#AdList {
  float: left;
  width: 18%;
  background-color: green;
}

div#Footer {
  background-color: white;
}

#FloatingAd1 {
  float: left;
}

#FloatingAd2 {
  float: right;
}

